*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

#root{
    padding: 0 1vw;
}

.container {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 4%;
}

.input_box{
    display: flex;
    flex-direction: column;
}
.output_box {
    background-color: lightyellow;
    border: 2px solid lightblue;
    height: 253px;
    overflow: auto;
}

#note_box {
    color: green;
    background-color: rgb(242, 247, 248);
    resize: none;
    width: 100%;
    height: 200px;
    font-size: 20px;
}
#title_box{
    color: blue;
    background-color:rgb(242, 247, 248) ;
    resize: none;
    width: 100%;
    font-size: 22px;

}
.save_btn{
    background-color: lightcoral;
    color: white;
    font-weight: 500;
    border: none;
    font-size: 1.5rem;
    padding: 1rem 25.29rem;
    margin-top: 1%;
}
.showingTitle{
    background-color: rgb(240, 240, 125);
    margin-bottom: 10px;
    padding: 15px;
    cursor: pointer;
}

.showingTitle:hover {
    background-color: thistle;
}

#logo{
    width: 10%;
    height: 30vh;
    margin-bottom: 0.5rem;
}